@media (max-width: 767px) and (max-width: 991px) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image:      -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
    background-image:         linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
  }
}

pre {
  font-size: 13px;
}

.section h3 {
  margin-top: 10px;
}

.help {
  position: relative;
  bottom: 5px;
  font-size: 8pt;
  font-weight: bold;
  color: #ffffff;
  background-color: #337ab7;
  border-width: 0;
  border-radius: 50%;
  box-shadow: 0.25em 0.25em 0.25em #888888;
  width: 1.75em;
  height: 1.75em;
  padding: 0;
}
